# Node.js
node_modules/
build/
dist/

# Java/Maven
target/
*.class
*.jar
*.war
*.ear

# IDEs
.idea/
.vscode/
*.iml

# Sistema
.DS_Store
Thumbs.db

# Otros
.env

# Logs
*.log

# BPMN modeler
*.bpmn.backup

